<DOCTYPE! html>
  <html lang="en">

  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta property="og:title" content="Personal Portfolio of Daniel Boyce">
    <meta property="og:description" content="A portfolio showing off just some of the work Daniel Boyce has done.">
    <meta property="og:image" content="https://danielwboyce.com/img/main-thumbnail.png">
    <meta property="og:url" content="https://danielwboyce.com/index.htm">
    <meta name="twitter:title" content="Personal Portfolio of Daniel Boyce">
    <meta name="twitter:description" content="A portfolio showing off just some of the work Daniel Boyce has done.">
    <meta name="twitter:image" content="https://danielwboyce.com/img/main-thumbnail.png">
    <meta name="twitter:card" content="summary_large_image">--->

    <script src="https://kit.fontawesome.com/58737f1cb4.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          type ="text/css"
          href="{{ url_for('static',filename='styles/style.css') }}" />
    <title>Chatbot</title>
  </head>

  <body translate="no">
    <div class="wrapper">
      <main>
        <div class="phone">
          <header>
            <nav>
              <a target="_blank" href="https://www.danielwboyce.com" id="back" class="nav-button">
              <i class="fas fa-angle-left"></i>
            </a>
              <div class="contact-container">
                <img class="contact-image" alt="Chatbot Avatar" src="https://danielwboyce.com/img/chatbot-logo.png"></img>
                <p class="contact-name">Chatbot</p>
              </div>
              <div target="_blank" id="info" class="nav-button dropdown">
                <div class="dropdown-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                <i class="fas fa-info-circle"></i>
                
              </div>
            
            </nav>
          </header>

          <div class="messages-feed">
            {% for n in messages_array %}
            <div class="user-msg">{{n}}</div>
            {% endfor %}
          </div>
          <div class="input-line">
            <form action="" method="post" novalidate>
              {{ form.hidden_tag() }}

              <input type="text" id="user_message" name="user_message" placeholder="Message" required></input>
              <input type="submit" id="submit_button" class="submit_button" name="submit" value="Send"></input>
            </form>
          </div>

        </div>
      </main>
    </div>
  </body>
  </html